Repository zurvan-lab/timetrace, pull requests merged in 2023-11, with the labels that each got.

#66 chore: updating version.go comments
  version.go
Labels: documentation, enhancement

#67 chore: time trace file extension
  config/config.go
  config/config.yaml
  doc/config/config.md
Labels: documentation, config

#70 chore(linter): update golang-ci config
  .golangci.yml
  config/config.go
  config/config_test.go
Labels: linting, config

#71 test: core database tests
  core/database/database.go
  core/database/database_test.go
  core/database/element.go
  core/database/types.go
  doc/model/model.md
Labels: core, test

#74 chore: adding server folder to core
  .github/CODEOWNERS
  core/server/server.go
  core/server/server_test.go
Labels: core, network

#75 feat: parse query function for execution
  core/database/types.go
  core/execution.go
  core/execution_test.go
Labels: core, TQL (Time Query language)

#76 feat: TQL documentation and specification
  core/database/database.go
  core/database/database_test.go
  doc/TQL/.keep
  doc/TQL/TQL.md
Labels: documentation, core, TQL (Time Query language)

#78 chore: TQL files initiated
  TQL/ast/.keep
  TQL/execute/.keep
  TQL/parser/parser.go
  TQL/parser/parser_test.go
  TQL/repl/.keep
Labels: TQL (Time Query language)

#79 feat: execution of TQL queries
  .golangci.yml
  TQL/ast/.keep
  TQL/execute/.keep
  TQL/repl/.keep
  cmd/main.go
  core/TQL/execute/execute.go
  core/TQL/execute/execute_test.go
  core/TQL/parser/parser.go
  core/TQL/parser/parser_test.go
  core/database/database.go
  core/database/database_test.go
  core/database/element.go
  core/database/interfaces.go
  doc/TQL/TQL.md
Labels: core, test, TQL (Time Query language)
